<span class='af-header {{headerClass}}'>
  {{#if label}}
    <span class='af-label {{labelClass}}'>
      {{#if labelPrefix}}
        <span class='af-label-prefix {{labelPrefixClass}}'>{{labelPrefix}}</span>
      {{/if}}
      {{label}}
      {{#if labelSuffix}}
        <span class='af-label-suffix {{labelSuffixClass}}'>{{labelSuffix}}</span>
      {{/if}}
    </span>
  {{/if}}
  {{#if hint}}
    <em class='af-hint {{hintClass}}'>{{hint}}</em>
  {{/if}}
</span>

<span class='af-body'>
  {{#if readOnly}}
    {{af-read-only value=formattedValue}}
  {{else}}
    {{#if hasBlock}}
      {{yield value}}
    {{else}}
      {{#if inputComponent}}
        {{component inputComponent class=inputClass value=value options=options prompt=prompt}}
      {{else}}
        {{input class=(concat 'af-input' inputClass) value=value type=type placeholder=placeholder}}
      {{/if}}
    {{/if}}
  {{/if}}
</span>

{{#if description}}
  <span class='af-description {{descriptionClass}}'>{{description}}</span>
{{/if}}

{{#if showError}}
  <span class='af-error {{errorClass}}'>{{errors}}</span>
{{/if}}
