<select class='af-select-input' onchange={{action 'selectChange' value='target.value'}}>
  {{#if prompt}}
    <option>{{prompt}}</option>
  {{/if}}
  {{#each options as |option|}}
    <option selected={{option.selected}} value={{option.value}}>
      {{option.text}}
      {{#if option.description}}
        - {{option.description}}
      {{/if}}
    </option>
  {{/each}}
</select>
