<select class='af-select-input' onchange={{action 'selectChange' value='target.value'}}>
  {{#if prompt}}
    <option>{{prompt}}</option>
  {{/if}}
  {{#each optionsConverted as |option|}}
    <option selected={{option.selected}} value={{option.value}}>{{option.text}}</option>
  {{/each}}
</select>
