<span class='amb-form-header {{field.headerClass}}'>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{partial 'components/amb-form-field-label'}}
    {{partial 'components/amb-form-field-hint'}}
  {{/if}}
</span>
