<span class='af-header {{headerClass}}'>
  {{#if label}}
    <span class='af-label {{labelClass}}'>
      {{#if labelPrefix}}
        <span class='af-label-prefix {{labelPrefixClass}}'>{{labelPrefix}}</span>
      {{/if}}
      {{label}}
      {{#if labelSuffix}}
        <span class='af-label-suffix {{labelSuffixClass}}'>{{labelSuffix}}</span>
      {{/if}}
    </span>
  {{/if}}
  {{#if hint}}
    <em class='af-hint {{hintClass}}'>{{hint}}</em>
  {{/if}}
</span>

<span class='af-body'>
  {{#if hasBlock}}
    {{yield this}}
  {{else}}
    {{component inputComponent class=inputClass type=type value=value formattedValue=formattedValue convertedOptions=convertedOptions prompt=prompt placeholder=placeholder}}
  {{/if}}
</span>

{{#if description}}
  <span class='af-description {{descriptionClass}}'>{{description}}</span>
{{/if}}

{{#if showError}}
  <span class='af-error {{errorClass}}'>{{errors}}</span>
{{/if}}
