<select class='amb-form-select-input' onchange={{action 'selectChange' value='target'}}>
  {{#if prompt}}
    <option>{{prompt}}</option>
  {{/if}}
  {{#each convertedOptions as |option|}}
    <option data-test-id={{testId}} class={{option.classNames}} selected={{option.isSelected}} value={{option.value}}>
      {{option.text}}
      {{#if option.description}}
        - {{option.description}}
      {{/if}}
    </option>
  {{/each}}
</select>
