<span class='amb-form-header {{headerClass}}'>
  {{#if label}}
    <span class='amb-form-label {{labelClass}}'>
      {{#if labelPrefix}}
        <span class='amb-form-label-prefix {{labelPrefixClass}}'>{{labelPrefix}}</span>
      {{/if}}
      {{label}}
      {{#if labelSuffix}}
        <span class='amb-form-label-suffix {{labelSuffixClass}}'>{{labelSuffix}}</span>
      {{/if}}
    </span>
  {{/if}}
  {{#if hint}}
    <em class='amb-form-hint {{hintClass}}'>{{hint}}</em>
  {{/if}}
</span>

<span class='amb-form-body'>
  {{#if hasBlock}}
    {{yield this}}
  {{else}}
    {{component inputComponent class=inputClass type=type value=value formattedValue=formattedValue convertedOptions=convertedOptions prompt=prompt placeholder=placeholder}}
  {{/if}}
</span>

{{#if description}}
  <span class='amb-form-description {{descriptionClass}}'>{{description}}</span>
{{/if}}

{{#if errorState.isVisible}}
  <span class='amb-form-error {{errorClass}}'>{{errors}}</span>
{{/if}}
