<h1>Welcome to <code>af-form</code>!</h1>

{{#af-form submit='formSubmit' error='formError' as |af|}}
  {{af.field label='Email'}}
  {{af.field label='Name' value='Charlie'}}
  {{af.field label='Address' hint='hint'}}
  {{af.field label='Phone' placeholder='(XXX) XXX-XXXX'}}
  {{af.field label='Ready?' value=true options=options}}
  {{af.field label='Set?' options=options type='radio-group'}}

  <button>Submit</button>
{{/af-form}}
