<h1>Welcome to <code>ember-ambitious-forms</code>!</h1>

<h2>Basic</h2>
{{#amb-form onSubmit='formSubmit' onError='formError' as |f|}}
  {{f.field label='Email'}}
  {{f.field label='Name' value='Charlie Brown'}}
  {{f.field label='Address' hint='hint'}}
  {{f.field label='Phone' placeholder='(XXX) XXX-XXXX'}}
  {{f.field label='Ready?' value=true options=boolOpts}}
  {{f.field label='Set?' value=false options=boolOpts type='radio-group'}}
  {{f.field label='Go?' type='checkbox'}}
  {{f.field label='Override' layoutName='field-override'}}

  <button>Submit</button>
{{/amb-form}}

<h2>Scope</h2>
{{#amb-form scope=formParams onSubmit='formSubmit' onError='formError' as |f|}}
  {{f.field 'email' label='Email'}}
  {{f.field 'name' label='Name'}}

  <button>Submit</button>
{{/amb-form}}
