<h1>Welcome to <code>fm-form</code>!</h1>
{{#fm-form as |fm|}}
  {{fm.field label='Email'}}
  {{fm.field label='Name' value='Charlie'}}
  {{fm.field label='Address' hint='hint'}}
  {{fm.field label='Phone' placeholder='(XXX) XXX-XXXX'}}
  {{fm.field label='Ready?' value=true options=options}}
  {{fm.field label='Set?' options=options type='radio-group'}}
{{/fm-form}}
